.user-wrapper {
  padding-top: 8rem;
  .card {
    .card-body {
      a {
        &.btn-primary {
          cursor: pointer;
          color: #fff;
        }
      }
      img {
        width: 100px;
      }
    }
  }
}
